{{ define "decade-selector" }}
  <div class="flex flex-col space-y-2 w-full">
    <script>
      function toggleDropdown() {
        var dropdown = document.getElementById("decade-options");
        if (dropdown.classList.contains("hidden")) {
          dropdown.classList.remove("hidden");
        } else {
          dropdown.classList.add("hidden");
        }
      }
    </script>
    <div
      onclick="toggleDropdown()"
      class="w-full p-2 text-base text-river-bed-100 rounded-md flex justify-center items-center hover:cursor-pointer bg-river-bed-600 shadow-lg space-x-2"
    >
      <div>Change Theme</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="3.0"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 8.25l-7.5 7.5-7.5-7.5"
        />
      </svg>
    </div>
    <div
      id="decade-options"
      class="z-10 hidden rounded-lg shadow bg-river-bed-600 w-full h-96 overflow-auto no-scrollbar::-webkit-scrollbar no-scrollbar"
    >
      <ul
        class="py-2 text-md text-river-bed-50"
        aria-labelledby="dropdownDefaultButton"
      >
        {{ range getThemes }}
          <li>
            <a
              hx-put="/funnel/change-theme?theme={{ . }}"
              hx-swap="innerHTML"
              hx-target="#body"
              class="block px-4 py-2 hover:bg-river-bed-700 bg-river-bed-600 hover:cursor-pointer"
              >{{ . }}</a
            >
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
