{{ define "red-option" }}
  <div
    {{ if not .Selected }}
      hx-put="/funnel/select-list?list=BLACK_LIST" hx-swap="innerHTML"
      hx-target="#board"
    {{ end }}
    class="
      hover:cursor-pointer
    text-lg w-full rounded-lg border-4 py-2 px-4 
    {{ if .Selected }}
      text-contessa-800 border-contessa-800 bg-contessa-400 grow-xs
    {{ else }}
      text-contessa-600 border-contessa-600 bg-contessa-100
    {{ end }}
  "
  >
    Dude, no way this an actual movie, no one will get this
  </div>
{{ end }}
