{{ define "yellow-option" }}
  <div
    {{ if not .Selected }}
      hx-put="/funnel/select-list?list=YELLOW_LIST" hx-swap="innerHTML"
      hx-target="#board"
    {{ end }}
    class="
    text-lg w-full rounded-lg 
    border-4 py-2 px-4
    {{ if .Selected }}
      border-saffron-mango-900 bg-saffron-mango-300 text-saffron-mango-900
      grow-xs
    {{ else }}
      border-saffron-mango-600 bg-saffron-mango-100 text-saffron-mango-600
      hover:cursor-pointer
    {{ end }} 
  "
  >
    This one will be tough, I only kinda know it, some people might
  </div>
{{ end }}
